#rules-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: 8px 20px;
  border-radius: 8px;
}

#rules-popup {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background: #004429;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.hidden {
  display: none;
}
