body {
  margin: 0;
  font-family: Arial;
  background: #89c15e;
  text-align: center;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  border: 3px solid white;
  padding: 20px 40px;
  border-radius: 10px;
  color: white;
  width: 800px;
  margin: 30px auto;
}

.score-box {
  background: white;
  color: black;
  padding: 15px;
  border-radius: 10px;
  width: 120px;
}

.game-area {
  margin-top: 80px;
  position: relative;
  height: 400px;
}

.choice {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: white;
  border: 15px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.rock {
  border-color: #0074b6;
  margin: auto;
}
.paper {
  border-color: #ffa943;
  margin: 50px auto;
}
.scissor {
  border-color: #bd00ff;
  margin: auto;
}

.choice img {
  width: 60px;
}

.hidden {
  display: none;
}

/* RESULT SCREEN */

.result-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 100px;
}

.pick-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.win-animation {
  animation: ripple 1s infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.6);
  }
  70% {
    box-shadow: 0 0 0 40px rgba(0, 255, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0);
  }
}

/* HURRAY */

.celebration {
  text-align: center;
  margin-top: 150px;
}

.trophy {
  width: 200px;
}

.stars {
  position: absolute;
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.4;
}
