* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #8cc461;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

/* HEADER */
.header {
  width: 750px;
  border: 3px solid white;
  border-radius: 15px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title h1 {
  color: white;
  font-size: 30px;
  line-height: 1.2;
}

.score-board {
  display: flex;
  gap: 20px;
}

.score-box {
  background: white;
  padding: 12px;
  border-radius: 10px;
  text-align: center;
  width: 110px;
}

.score-box h2 {
  font-size: 36px;
}

/* GAME AREA */
.game-area {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-choice {
  margin-bottom: 70px;
}

.bottom-choices {
  display: flex;
  gap: 140px;
}

.choice {
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

.choice img {
  width: 70px;
}

.choice:hover {
  transform: scale(1.08);
}

.paper {
  border: 18px solid #bd00ff;
}
.stone {
  border: 18px solid #0074b6;
}
.scissor {
  border: 18px solid #ffa943;
}

/* RESULT SCREEN */
.hidden {
  display: none;
}

.result-screen {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.picked {
  text-align: center;
  color: white;
}

.result-center {
  text-align: center;
  color: white;
}

.result-center button {
  padding: 8px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin: 5px;
  font-weight: bold;
}

.result-choice img {
  width: 70px;
}

/* GLOW ANIMATION */
.win-glow::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle,
    rgba(0, 255, 0, 0.4) 30%,
    transparent 60%
  );
  border-radius: 50%;
  top: -50%;
  left: -50%;
  animation: glow 1s infinite;
}

@keyframes glow {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

/* RULES */
.rules-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  padding: 8px 20px;
  border: 2px solid white;
  background: transparent;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.rules-popup {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.rules-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
}
